/*------ Settings ------*/
.container {
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
  }
  
  .container .moon {
    position: absolute;
    animation: keyframes-fill .5s;
    --color: black;
    fill: var(--color);
    
  }
  
  .container .sun {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
    --color: rgb(214, 214, 214);
    fill: var(--color);

  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .moon {
    display: none;
  }
  
  .container input:checked ~ .sun {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: rotate(-360deg) scale(0);
      opacity: 0;
    }
  
    75% {
      transform: rotate(25deg);
    }
  }