.navbar_btn {
  /* Variables */
  --button_radius: 0.4em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border-radius: var(--button_radius);
  padding: 0.36em 1em;
  transform: translateY(0);
  transform: translateX(0);
  transition: transform 0.1s ease;
}

.navbar_btn:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translate(-2px, -2px);

}

.navbar_btn:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);

}



.container .moon, .container .sun {
  position: relative !important;
}