@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Share+Tech+Mono&display=swap');



* {
  font-family: 'Fira Sans', sans-serif ;
  font-family: 'Share Tech Mono', monospace;
  
}



body{
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #FDFAF6 ;
  line-height: 1.3;
}

.dark body{
  background-color: #0A192F;
}


.sun{
  fill: #CCD6F6 !important;
}
